* { box-sizing: border-box; }

body{
    padding-top: 5em;
    position: relative;
    background-color: #fffeea;
    color: #34495e;
    
}



#about{
    width: 80%;
    margin: 0 auto;
}

#contact{
    background-image: url(../img/contactbackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.resume-button{
    margin: 1em;
    text-align: center;
}


.img-circle{
    radius: 100%;
    display: inline-block;
    position: relative;
}


.main-text{
    clear: both;
    padding-top: 60%;
    padding: 1em;
}

.skills{
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-weight: 100;
}

#skill-list{
    margin-left: 50px;
}

nav {
    background-image: url(../img/menuimage.jpg);
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-default .navbar-nav>li>a:hover{
    color: red;
    -webkit-transition: color 600ms;
}

.navbar ul li{
    display: inline-block;
    text-align: right;
    padding: 20px 10px 10px;
}

.navbar ul{
    float: right;
    
}

.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    text-transform: lowercase;
}

.work-img{
    display: block;
    margin: auto;
    max-width: 400px;
    position: relative;
}
/*works display info*/

.info {
    display: none;
    position: absolute;
    top: 15%;
    left: 22%;
    color: #fff;
    font-family: Futura;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5em;
    line-height: 1.6;
    
}

.proj-title{
    font-weight: 100;
    
}





.form-group{
    color: white;
}

.button{
    padding: 1em;
    margin: 1em;
}

footer{
    background-image: url("../img/menuimage.jpg");
    color: white;
    height: 6em;    
    margin-top: 1em;
}

.footercontent{
    display: inline-block;
    margin: 2em;
}


/*typography*/

h2 {
    font-family: Futura, Helvetica, Arial, sans-serif;
}

.header h1{
    color: black;
    text-align: center;
}

h1, #contact h2, h3 {
    color: white;
    text-transform: lowercase;
    text-align: center;
    font-family: Futura, Helvetica, Arial, sans-serif;
}



.intro p {
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 100;
  -webkit-margin-before: 0;
}

p,
li{
    font-family: Georgia, Baskerville, Palatino, serif;
}

.skills h2{
    text-align: center;
    text-transform: lowercase;
}